<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>107947242070-ahn7sj9tecofad2q9epmncn37cmho53o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107947242070-ahn7sj9tecofad2q9epmncn37cmho53o</string>
	<key>API_KEY</key>
	<string>AIzaSyChZsl5j2oHnEeokep6Le9ayNtSWh7ngjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>107947242070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mycompany.NailSalon</string>
	<key>PROJECT_ID</key>
	<string>nailsalon-97daf</string>
	<key>STORAGE_BUCKET</key>
	<string>nailsalon-97daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:107947242070:ios:73089b46d73323b3</string>
	<key>DATABASE_URL</key>
	<string>https://nailsalon-97daf.firebaseio.com</string>
</dict>
</plist>